<article class="article article-summary">
    <div class="article-summary-inner">
        <% if (theme.customize.thumbnail === true) { %>
        <%- partial('common/thumbnail', { counter: true }) %>
        <% } %>
        <div class="article-meta">

            <p class="date"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time></p>
            <p class="date"> &nbsp; &nbsp;<%= post.writer %></p>
        </div>
        <%- partial('post/title', { class_name: 'article-title', linkable: true }) %>
        <p class="article-excerpt">
            <%- excerpt(post) %>
        </p>
    </div>
</article>
